/* 웹 화면 기준*/

/* 로그인 화면*/
.login-bg {
	background-color: rgb(236, 252, 210);
}

.login-header {
	text-align: center;
	justify-content: center;
}

.login-title {
	color: green;
	font-weight: 700;
	font-size: 80px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-family: 'NanumSquareRound';
}

.login-box {
	flex: 0 0 auto;
	width: 60%;
	height: 100%;
}

.login-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(33, 40, 50, 0.125);
	border-radius: 0.35rem;
	height: 500px;
	margin-top: 10rem;
}

.login-label {
	margin-bottom: 0.25rem;
	font-weight: 700;
	color: green;
	transform: translate(96px, 51px);
	font-size: 1.2em;
	font-size: 0.875em;
	font-weight: 700;
	color: green;
	transform: translate(144px, 6px);
	font-family: 'NanumSquareRound';
}

.login-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transform: translate(337px, -7px);
	font-size: 1.2em;
	color: green;
	background-color: #cffc91;
	border-color: none;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.875rem 1.125rem;
	font-size: 1.5rem;
	border-radius: 0.35rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-btn:hover {
	color: #fff;
	background-color: #006400;
	border-color: green;
}

.login-btn:focus {
	color: #fff;
	background-color: #006400;
	border-color: green;
	box-shadow: 0 0 0 0.25rem rgba(103, 244, 38, 0.5);
}

.btn-check:checked+.login-btn, .btn-check:active+.login-btn, .login-btn:active,
	.login-btn.active, .show>.login-btn.dropdown-toggle {
	color: #fff;
	background-color: #006400;
	border-color: green;
}

.btn-check:checked+.login-btn:focus, .btn-check:active+.login-btn:focus,
	.login-btn:active:focus, .login-btn.active:focus, .show>.login-btn.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.25rem rgba(103, 244, 38, 0.5);
}

.login-btn:disabled, .login-btn.disabled {
	color: #fff;
	background-color: #006400;
	border-color: green;
}

.login-form {
	display: block;
	width: 41%;
	transform: translate(228px, -34px);
	padding: 0.875rem 1.125rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	color: green;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #006400;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.5rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-form:focus {
	color: #69707a;
	background-color: #fff;
	border-color: transparent;
	outline: 0;
	box-shadow: 0 0 0 0.25rem #00FF00;
}

.login-form::-webkit-date-and-time-value {
	height: 1em;
}

.login-form::-moz-placeholder {
	color: #a7aeb8;
	opacity: 1;
}

.login-form:-ms-input-placeholder {
	color: #a7aeb8;
	opacity: 1;
}

.login-form::placeholder {
	color: #a7aeb8;
	opacity: 1;
}

.login-form:disabled, .login-form[readonly] {
	background-color: #e0e5ec;
	opacity: 1;
}

/* 공통 footer*/

.copyright-footer {
	flex: 0 0 auto;
	width: 50%;
	font-size: 0.875em;
	color: green;
	font-family: 'NanumSquareRound';
}

#modbtn {
	position: fixed;
	top: 90%;
	left: 2%;
	cursor: pointer;
	z-index: 10000;
}

/* header, nav */
.header-icon-custom {
	width: 50px;
	height: 50px;
}

.navbar-custom {
	color: green !important;
	font-size: 30px !important;
	font-family: 'NanumSquareRound';
}

.topnav-custom {
	background-color: rgb(236, 252, 210);
}

.sidenav-custom {
	background-color: #fff;
}

.page-header-custom {
	background-color: white;
}

.page-header-title-custom-list {
	color: black !important;
	font-family: 'NanumSquareRound' !important;
}


.page-header-title-custom-info {
	color: black !important;
	font-family: 'NanumSquareRound' !important;
}



.sidenav-toggle-btn-custom {
	color: black !important;
}

/*알림*/
.alert-custom {
	color: rgb(0, 0, 0) !important;
}


/*돈사 리스트 화면 */
.table-body-custom {
	background-color: rgb(255, 255, 255) !important;
	color: rgb(0, 0, 0) !important;
	font-family: 'NanumSquareRound';
}


.search-input-custom {
	border-width: 2px !important;
	background-color: aliceblue !important;
	border-color: green !important;
	border-style: solid !important;
	border-radius: 1.2rem !important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
		!important;
}

/*악취 레벨 이미지*/
.o-level {
	width: 30px;
	height: 30px;
	transform: translate(27px, -1px);
}
/*연결 상태 이미지 (황화수소 - 암모니아 - 메탄 순)*/
.connect-1 {
	width: 20px;
	height: 20px;
	transform: translate(6px, -1px);
}

.connect-2 {
	width: 20px;
	height: 20px;
	transform: translate(9px, -1px);
}

.connect-3 {
	width: 20px;
	height: 20px;
	transform: translate(12px, -1px);
}

/* 사용자 이미지, 필터링 검색바 */
.user {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

[type=search] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
	border-radius: 10px;
	border: 3px solid greenyellow;
}


.pighouse_name * {
	color: black;
}

.info-page-header-custom {
	background-color: rgb(236, 252, 210) !important;
	width: 100%;
}

.page-header-subtitle-custom {
	color: black !important;
	transform: translate(59px, 10px);
}

.footer-admin.footer-custom {
	color: #a7aeb8;
}

/*info 화면*/
.o-level2 {
	transform: translate(3px, 19px);
}

.h-100-custom {
	height: 100% !important;
	border: 3px solid darkseagreen;
}

.card:not([class*=bg-]) .card-header-custom {
	color: black;
	font-family: 'NanumSquareRound';
	border-color: green;
}

.text-primary-custom {
	--bs-text-opacity: 1;
	color: black !important;
}

.text-gray-700-custom {
	color: black !important;
	font-family: 'NanumSquareRound';
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	transform: translate(4px, 18px);
}

.text-white-50-custom {
	--bs-text-opacity: 1;
	color: black !important;
	font-family: 'NanumSquareRound';
}

.text-white-custom {
	--bs-text-opacity: 1;
	color: black !important;
	font-family: 'NanumSquareRound';
}

.text-white-75-custom {
	color: black !important;
	font-family: 'NanumSquareRound';
}

/*info 화면 기상 정보*/
.weather {
	width: 40px;
	height: 40px;
}

#winddir {
	width: 40px;
	height: 40px;
}

.weather-container {
	display: flex;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}

.weather-item {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-radius: 20px;
	width: 1000px;
	height: 110px;
}

.weather-label {
	margin-right: 10px;
	font-weight: bold;
	font-family: 'NanumSquareRound';
	width: 150px;
	height: 61px;
	font-size: 25px;
	align-content: center;
	transform: translate(52px, 0px);
}

.weather-value {
	background-color: #fff;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-family: 'NanumSquareRound';
	font-size: 25px;
}

.temp {
	background-color: #f9e1e1;
	color: black;
	border: 2px solid red;
	transform: translate(-358px, -80px);
}

.humidity {
	background-color: #cbf9ff;
	color: black;
	border: 2px solid cyan;
	transform: translate(-308px, -80px);
}

.wind-dir {
	background-color: #e9f4ff;
	color: black;
	border: 2px solid blue;
	transform: translate(-258px, -80px);
}

.wind-speed {
	background-color: #defbba;
	color: black;
	transform: translate(-208px, -80px);
	border: 2px solid green;
}

.weather-info {
	background-color: white;
	color: black;
	transform: translate(-158px, -80px);
	border: 2px solid orange;
}

.sidemenu-custom {
	margin-top: 20px;
	font-size: 18px;
	cursor: pointer;
	color: black !important;
	text-align: center;
	display: inline-block !important;
}


#dateRange{
	margin-top: 1em;
}

.sortingLabel{
	display: none;
}



/* 모바일 화면 대응 */
@media ( max-width : 768px) {
	
	.login-box {
		width: 90%;
		margin-top: 5rem;
	}
	.login-title {
		font-size: 40px;
	}
	.login-form {
		width: 80%;
		transform: translate(0, 0);
		margin: 0 auto;
	}
	.login-btn {
		transform: translate(0, 0);
		margin: 1rem auto;
		display: block;
	}
	.weather-label {
		font-size: 18px;
		transform: translate(0, 0);
	}
	.weather-value {
		width: 60px;
		height: 60px;
		font-size: 20px;
	}

	/* 기타 필요한 모바일 화면에 맞춘 수정 */

}


/* 태블릿 화면 대응 - ipad pro 기준 */

@media ( min-width : 769px) and (max-width: 1024px) {
	
	/*로그인 폼*/
	.login-box {
		width: 75%;
	}
	.login-title {
		font-size: 60px;
	}
	.login-form {
		width: 47%;
		transform: translate(0, 0);
		margin: 0 auto;
	}
	.login-btn {
		transform: translate(0, 0);
		margin: 1rem auto;
		display: block;
	}
	.login-label{
		
    transform: translate(190px, -5px);
    font-size: 1.3em;
	
	}
	
	/*돈사 리스트 화면*/
	.page-header-title-custom-list {
		color: black !important;
		font-family: 'NanumSquareRound' !important;
		transform: translate(5px, 6px);
	}
	
	.stink-custom{
		
		width: 16.37678%;
	
	}
	.pighouse-custom{
	
		width: 26.067908%;
	
	}
	.connecting-custom{
		
		width: 16.829135%;
	
	}

	.adderess-custom{
	
		width: 28.449069%;
	
	}
	
	.contact-custom{
	
		width:20.277108%;
	}
	
	.connect-1{
	
		width: 20px;
    	height: 20px;
    	transform: translate(0px, -1px);
    
    }
    
    .connect-2{
    	width: 20px;
    	height: 20px;
    	transform: translate(3px, -1px);
    
    }
    
    
    .connect-3 {
    	width: 20px;
   	 	height: 20px;
    	transform: translate(5px, -1px);
	}


	/*info 페이지*/
	.page-header-title-custom-info {
		color: black !important;
		font-family: 'NanumSquareRound' !important;
		transform: translate(158px, -23px);
	}
	
	.page-header-subtitle-custom {
		color: black !important;
		transform: translate(212px, -8px);
	}
	
	.h-100-custom {
		height: 100% !important;
		border: 3px solid darkseagreen;
		width: 67%;
		transform: translate(107px, -89px);
	}
	
	/* 기상 정보 css */
	
	.weather-item {
		display: flex;
    	align-items: center;
    	padding: 5px 10px;
    	border-radius: 20px;
    	width: 1000px;
    	height: 90px;
	}
	
	.weather-label {
		font-size: 25px;
		margin-right: 10px;
    	font-weight: bold;
    	font-family: 'NanumSquareRound';
    	width: 131px;
    	height: 61px;
    	align-content: center;
    	transform: translate(52px, 0px);
	}
	
	.weather-value {
		width: 70px;
		height: 70px;
		font-size: 22px;
		
	}
	
	.temp {
    background-color: #f9e1e1;
    color: black;
    border: 2px solid red;
    transform: translate(8px, -86px);
	}
	
	.humidity {
    background-color: #cbf9ff;
    color: black;
    border: 2px solid cyan;
    transform: translate(28px, -86px);
	}
	
	.wind-dir {
    background-color: #e9f4ff;
    color: black;
    border: 2px solid blue;
    transform: translate(47px, -86px);
	}
	
	.wind-speed {
    background-color: #defbba;
    color: black;
    transform: translate(-587px, 19px);
    border: 2px solid green;
	}
	
	.weather-info {
    background-color: white;
    color: black;
    transform: translate(-551px, 19px);
    border: 2px solid orange;
	}

	/* 꺾은 선 차트 및 캘린더 */
	.border-0-calendar {
		border: 0 !important;
		transform: translate(141px, 15px);
	}
	.chart-custom {
		transform: translate(35px, 151px);
		width: 700px;
	}
	
	
	/*다크모드&라이트모드 버튼*/
	#modbtn{
		position: fixed;
    	top: 90%;
    	left: 2%;
    	cursor: pointer;
    	z-index: 10000;
    	transform: translate(10px, 53px);
	}
	
	.footer-admin.footer-light {
    color: #a7aeb8;
    transform: translate(10px, 25px);
	}
	
}